*{
				margin: 0;
				padding: 0;
			}
			a {
    text-decoration: none;
}
em{
    font-style: normal;
}
li {
    list-style: none;
}
html, body {
    background: #eee;
    font-size: 10px;
}
			.loadnav {
			    width: 100%;
			    height: 4rem;
			    background: #e6071b;
			    position: fixed;
			    left: 0;
			    top: 0;
			    z-index: 10;
			    margin-bottom: 1.0rem;
			}
			.loadnav>p{
					position: absolute;
				    left: 22%;
				    top: 50%;
				    margin: -1rem 0 0 -20%;
					color: white;
					font-size: 1.8rem;
				}
			
			.loadnav span {
			    color: #fff;
			    font-size: 1.6rem;
			    text-align: center;
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    width: 40%;
			    margin: -1rem 0 0 -20%;
			}
	.myCoupon {
			    margin-top: -1rem;
			    width: 100%;
			    box-sizing: border-box;
			}
			.posiTop {
			    padding: 2rem 0rem 0;
			}
			.couponContent {
    /*position: relative;*/
    padding: 1rem;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}
.couponCompany {
    margin-top: 1rem;
    position: relative;
}
.couponEach {
    width: 100%;
    display:flex;
}
.couponEach img{
	width: 7rem;
	height: 7rem;
}
.couponEach nav p {
    color: #333;
    font-size: 1.2rem;
}
.couponEach nav span {
    line-height: 1.5rem;
    color: #666;
    font-size: 0.9rem;
}
.positionLine {
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 1px;
    background: #d8d8d8;
}
.positionLine i:first-child {
    left: -1.5rem;
    top: -0.5rem;
}
.positionLine i:last-child {
    right: -1.5rem;
    top: -0.5rem;
}
.couponContents {
    /*position: relative;*/
    padding: 2rem;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}
.couponCompanys {
    margin-top: 1rem;
    position: relative;
}
.pas{
	 /*color: #e6071b;*/
    font-size: 1.6rem;
    /*text-align: center;*/
    position: absolute;
    left: 20%;
    top: 10%;
    width: 40%;
    margin: -2rem 0 0 -20%;
}
/*待使用样式*/
.toUsed {
    position: absolute;right: 0; top: 0;
    color: #fefefe;
    font-size: 1.2rem;
    background: #e6071b;
    padding: 0.2rem 1rem;

}
/*已使用样式*/
 .alreadyUsed {
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: #b7b7b7;
    font-size: :;rem;
    background: #fff;
    padding: 0.2rem 1rem;
}
.dda{
	position: absolute;
	top: 7rem;
	left: 7rem;
}
.bbs{
	position: absolute;
	top: 7rem;
	left: 8.5rem;
}

.warp {
  position: absolute;
  width: 33.33%;
  /*margin: -72px 100%;*/
  top: -3rem;
  left: 76%;
  /*float: left;*/
}
label {
  margin: 1.5em auto;
}

input {
  position: absolute;
  left: -9999px;
}
.slider-v3 {
  position: relative;
  display: block;
  width: 7em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  background: #ddd;
}

.slider-v3::after {
  position: absolute;
  content: '';
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 1.5em;
  transition: width 200ms ease-out, height 300ms 50ms ease-in, top 300ms 50ms ease-in, left 250ms 50ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;
  background: #f2f2f2;
  box-shadow: 0 0 0 1.5em #f2f2f2 inset;
}

input:checked + .slider-v3::after {
  width: 4em;
  height: 3em;
  top: 0;
  left: 3em;
  background: #C9302C;
  box-shadow: 0 0 0 0 #f2f2f2 inset;
}
.foot{
	width: 100%;
	height: 4rem;
	background-color: #9D9D9D;
}
.zui{
	width: 10rem;
	height: 4rem;
	background-color: orangered;
	position: relative;
	top: -4rem;
	left: 31.2rem;
	line-height: 4rem;
	color: white;
	text-align: center;
}
